html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
  font-family: 'Coda', cursive;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}


/*
 * Styles for the deck of cards
 */

.deck {
  width: 660px;
  min-height: 680px;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3em;
}

.deck .card {
  height: 125px;
  width: 125px;
  background: #2e3d49;
  font-size: 0;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
  animation-name: rotateInY;
  animation-duration: 1s;
  transform: rotateY(0);
  background: #02b3e4;
  cursor: default;
}

.deck .card.show {
  font-size: 33px;
}

.deck .card.match {
  animation-name: victorySnap;
  animation-duration: 1s;
  cursor: default;
  background: #02ccba;
  font-size: 33px;
}

.deck .card.no_match {
  animation-name: pulsate;
  animation-duration: 1s;
  cursor: default;
  background: #a31d1d;
  font-size: 33px;
}


/*
 * Styles for the Score Panel
 */

.score-panel {
  text-align: left;
  width: 345px;
  margin-bottom: 10px;
}

.score-panel .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
}

.score-panel .stars li {
  list-style: none;
  display: inline-block;
}

.score-panel .restart {
  float: right;
  cursor: pointer;
}

.score-panel .timer {
  display: inline-block;
  margin: 0 1rem;
}


/*
 * Animations
 */

 @keyframes rotateInY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  25% {
    transform: perspective(400px) rotate3d(0, 1, 0, 45deg);
    animation-timing-function: ease-in;
  }

  50% {
    transform: perspective(400px) rotate3d(0, 1, 0, 30deg);
    opacity: 1;
  }

  75% {
    transform: perspective(400px) rotate3d(0, 1, 0, -30deg);
  }

  to {
    transform: perspective(400px);
  }
}

@keyframes victorySnap {
  from {
    transform: scale3d(1, 1, 1);
  }

  40% {
    transform: scale3d(1.5, 0.5, 1.1);
  }

  50% {
    transform: scale3d(0.75, 1.25, 0.9);
  }

  60% {
    transform: scale3d(1.125, 0.875, 1.05);
  }

  70% {
    transform: scale3d(0.9, 1.1, 0.95);
  }

  80% {
    transform: scale3d(1.05, 0.95, 1.025);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulsate {
  from {
    transform: scale3d(1, 1, 1);
  }

  10% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  20% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  30% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  50% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  60% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  70% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  80% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  90% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

/*
 * Responsive design
 */

@media screen and (max-width: 800px) {
  h1 {
    transition: 0.5s;
    font-size: 2em;
  }

  .deck {
    transition: 0.5s;
    width: 450px;
    min-height: 463px;
    padding: 22px;
    border-radius: 7px;
    box-shadow: 8px 10px 14px 0 rgba(46, 61, 73, 0.5);
    margin: 0 0 2em;
  }
  
  .deck .card {
    transition: 0.5s;
    height: 85px;
    width: 85px;
    border-radius: 5.5px;
    box-shadow: 3.5px 1.5px 14px 0 rgba(46, 61, 73, 0.5);
  }
  
  .deck .card.show,
  .deck .card.match,
  .deck .card.no_match {
    font-size: 22.5px;
  }
  
  .score-panel {
    transition: 0.5s;
    font-size: 12px;
    width: 235px;
    margin-bottom: 7px;
  }
  
  .score-panel .stars {
    margin 0 3.5px 0 0;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    transition: 0.5s;
    font-size: 1.3em;
  }

  .deck {
    transition: 0.5s;
    width: 281px;
    min-height: 290px;
    padding: 14px;
    border-radius: 4.3px;
    box-shadow: 5px 6.5px 8.5px 0 rgba(46, 61, 73, 0.5);
    margin: 0 0 1.3em;
  }
  
  .deck .card {
    transition: 0.5s;
    height: 54px;
    width: 54px;
    border-radius: 3.5px;
    box-shadow: 2px 0.9px 8.5px 0 rgba(46, 61, 73, 0.5);
  }
  
  .deck .card.show,
  .deck .card.match,
  .deck .card.no_match {
    font-size: 14px;
  }
  
  .score-panel {
    transition: 0.5s;
    font-size: 8px;
    width: 170px;
    margin-bottom: 4.3px;
  }
  
  .score-panel .stars {
    margin 0 2.1px 0 0 ;
  }
  
  .victory h1 {
    font-size: 20px;
  }
  
  .victory h2 {
    font-size: 15px;
  }
  
  .victory h4 {
    font-size: 13px;
  }
}
